---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="About Astro">
	<h1>About Astro!</h1>
	<p>Astro is a modern front-end framework for building fast, content-focused websites.</p>
</BaseLayout>
