---
import MainLayout from "../../../layouts/MainLayout.astro";
import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";
import ArticleCard from "../../../components/ArticleCard.astro";

const { tag } = Astro.params;
if (!tag || tag.length === 0) {
  throw new Error("Tag is required");
}

const allBlogArticles: CollectionEntry<"blog">[] = (
  await getCollection("blog")
).sort(
  (a: CollectionEntry<"blog">, b: CollectionEntry<"blog">) =>
    b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);

const tagArticles = allBlogArticles.filter((article) =>
  article.data.tags.includes(tag),
);
---

<MainLayout title="All Articles">
  <a
    href="/articles"
    class="inline-flex items-center rounded-2xl border mb-6 border-cyan-400/20 bg-cyan-400/10 px-4 py-2 text-sm font-medium text-cyan-100 transition hover:border-cyan-300/40 hover:bg-cyan-400/20 hover:text-white"
    >Back To Articles</a
  >
  <h1 class="text-2xl pb-3">{tag.toLocaleUpperCase()}</h1>
  <!-- Main Grid -->
  <div class="grid grid-cols-1 gap-4 sm:grid-cols-2 lg:grid-cols-3">
    <!-- Article Cards -->
    {tagArticles.map((article) => <ArticleCard article={article} />)}
  </div>
</MainLayout>
